extends layout

block content
  header
    h1 #{title}
  br
  article
    each p in people
      div
        img(src=`${p.image}`)
        h2 #{p.name}
        h2 #{p.email}
        h2 #{p.phone}
        hr

